.nav{
    background-color: #9cbcaf;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 47px;
    
       &-item{
          list-style: none;
       }

       &-container-right{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 20%;

       }

       form{
         display: flex;
         flex-direction: row-reverse;
       }
       
       .formSearch{
         display: grid;
         grid-template-columns: 1fr;
       }
}  